<div>
  <button type="button" (click)="modalExperiencia.show()"> <img src="../../../../assets/Experiencia.png">
    <br> Experiencia </button>
</div>

<app-modal #modalExperiencia class="modal-demo" [maximizable]="true" [backdrop]="false">
  <ng-container class="app-modal-header">
    <p class="titleModal">Experiencia</p>
  </ng-container>
  <ng-container class="app-modal-body">
    <div class="col-lg-2">
      <button type="button" [routerLink]="[{outlets: {nuevaExperiencia: ['nuevaexp']}}]" [routerLinkActive]="'active'" *ngIf="isLogged">
        Nueva Experiencia
      </button>
    </div>
    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of expe">
          <td>{{Experiencia.nombreE}}</td>
          <td>{{Experiencia.descripcionE}}</td>
          <td *ngIf="isLogged">
            <button routerLink="/editexp/{{Experiencia.id}}">EDITAR</button>
          </td>
          <td *ngIf="isLogged">
            <button (click)="delete(Experiencia.id)">BORRAR</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-container class="app-modal-footer">

  </ng-container>
</app-modal>