body{

    background-attachment: fixed;


    background-image: linear-gradient( 90deg, #F109FD, #DA1DFA, #C133F7, #A848F3, #8F5EF0,
    #7673ED, #5E89EA, #469DE7, #31B0E4, #25B9E2, #17C6E1, #09D2DF );

    cursor: url(puntero.png), auto;

     }


      .ventana1{

          position: fixed;
          top: 15%;
          left: 60%;
          cursor: move;

      }


      .encabezado{

          display: flex;
          justify-content: space-between;
          text-align: center;

      }

     
      .encabezado div img{

          width: 44px;
          height: 44px;
          padding: 10px 10px 0px;
          content: 0px;
          margin-top: 20px 20px 20px;
    
      }

      .encabezado div button{

          background: transparent;
          position: relative;
          letter-spacing: 0px;
          font-size: 12.2px;
          font-stretch: 100%;
          line-height: 15px;
          text-shadow: 0 1.5px #000;
          font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
          color: #fff;
          font-family: monospace;
          white-space: normal;
          content: 0px;  
          margin-top: 0px;
          padding-top: 0px;
          border-style: none;
      }


      .container {
           
         
          display: flex;
          flex-direction: column;
          align-content: space-around;
          justify-content: space-around;
          text-align: center;
          align-items: flex-start;
          


      }

      .container div img{

          width: 44px;
          height: 44px;
          padding: 20px 15px 0px ;
          content: 0px;
          margin: 5px 0px 0px;
    
      }


      .container div button{

          background: transparent;
          position: relative;
          letter-spacing: 0%;
          word-spacing: -3px;
          font-size: 12.2px;
          font-stretch: 100%;
          line-height: 15px;
          text-shadow: 0 1.5px #000;
          font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
          color: #fff;
          font-family: monospace;
          white-space: normal;
          content: 0px;  
          margin-top: 0px;
          padding-top: 0px;
          border-style: none;
          text-align: center;
      }


      #barra-sup{

          display: flex;
          justify-content: flex-end;
          background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/98383ccf-a799-4094-bd98-45a3fc77982a/d8o06o0-9eeb8e22-5696-4f73-b5a0-80f2425713ed.png/v1/fill/w_1024,h_564,q_80,strp/windows_93_wallpaper_by_nesmaster23_d8o06o0-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTY0IiwicGF0aCI6IlwvZlwvOTgzODNjY2YtYTc5OS00MDk0LWJkOTgtNDVhM2ZjNzc5ODJhXC9kOG8wNm8wLTllZWI4ZTIyLTU2OTYtNGY3My1iNWEwLTgwZjI0MjU3MTNlZC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.eGaXqd0l2R2k4N64SxOEwHqwrGen0we21wxoIbJq97Y);
          background-size: cover;
          border-style:ridge;
          border-color: rgb(219, 218, 218);
          
    
      }

      .show{

          pointer-events: auto;
          opacity: 1;
      }


      .ventana1 div button{

          width: 20.5px;
          height: 20px;
          margin: 3px;
          border-top: 1px solid #fff;
          border-left: 1px solid #fff;
          border-right: 2px solid gray;
          border-bottom: 1px solid gray;
          box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
          margin-right: 3px;
          background-color: silver;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 13px;
          font-style: bold;
      }