div img {

    width: 75px;
    height: 65px;
    padding: 20px 15px 0px;
    content: 0px;
    margin: 0px 0px 0px;

}


div button {

    background: transparent;
    position: relative;
    letter-spacing: 0%;
    word-spacing: -3px;
    font-size: 12.2px;
    font-stretch: 100%;
    line-height: 15px;
    text-shadow: 0 1.5px #000;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #fff;
    font-family: monospace;
    white-space: normal;
    content: 0px;
    margin-top: 0px;
    padding-top: 0px;
    border-style: none;
    text-align: center;

}

div {
    margin-left: 10px;
}


#fotoPerfil {

    width: 330px;
    height: 310px;

}

#nombre {
    font-family: Nouveaux;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000;
}

#titulo {
    font-family: Nouveaux;
    font-size: 13px;
    margin-top: 17px;
}

#modalAcerca {
    z-index: 1500;
}

#editDescriptionButton {
    background: #C0C0C0;
    border-width: 1px;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    font-family: nouveaux;
    text-align: center;
    outline: 1px solid #000000;
    background: #C0C0C0;
    border-width: 1px;
    border-style: solid;
    padding: 4px 10px;
    margin: 20px auto 3px;
    bottom: 0px;
    text-shadow: none;
    color: blue;
    margin-top: -18px;
    width: 150px;
}

.info{
    font-family: nouveaux;
    font-size: 1.5px;
    color: grey;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info img{
    width: 25px;
    height: 25px;
    padding: 0%;
    margin-right: 2px;
} 

.info h6{
    margin: 10px;
    font-size: 12px;
}

.descripcion{
    text-align: justify;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: -1%;
    font-family: windows;
    letter-spacing: 1px;
    font-size: 17px;
}
