<div class="container" cdkDrag>
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

                <div class="closeButton">
                    <button>x</button>
                </div>
                
                <div class="form-group">
                    <label for="nombreP">Nombre del Proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>
                </div>

                <div class="form-group">
                    <label for="linkP">Link</label>
                    <input type="text" class="form-control" id="linkP" name="linkP" [(ngModel)]="linkP" required>
                </div>

                <div class="form-group">
                    <label for="descripcionP">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" required>
                </div>

                <div class="form-group">
                    <label for="fechaP">Fecha</label>
                    <input type="text" class="form-control" id="fechaP" name="fechaP" [(ngModel)]="fechaP" required>
                </div>

                <button class="agregar">
                    Agregar Proyecto
                </button>

            </form>
        <div>
    </div>
</div>