<div> <button (click)="modalLogin.show()"> <img src="../../../../assets/Login.png"> 
    <br> Login </button> 
</div>

<app-modal id="modalLogin" #modalLogin class="modal-demo" [maximizable]="true" [backdrop]="false">
    <ng-container class="app-modal-header"><p class="titleModal">Login</p></ng-container>
    <ng-container class="app-modal-body">
      <div class="grid">
      <div class="icon-key"><img src="../../../../assets/login_icon.png"><br></div>
      <div><br><p>Escriba el nombre y la contraseña para acceder al backend de mi Portfolio personal</p><br>
           <form>
                    <label for="user">Nombre de usuario:</label>
                    <input type="text" id="user" name="user_name">
                    <br><br>
                    <label for="password">Contraseña:</label>
                    <input type="password" class="contra" required="">
           </form>
     </div>    
     <div><button style="color: black;">Aceptar</button><br><br><button style="color: black;">Cancelar</button></div>      
     </div>
    </ng-container>
    <ng-container class="app-modal-footer"></ng-container>
  
  </app-modal>