<div>
     <button type="button" (click)="modalEducacion.show()"> <img src="../../../../assets/Educación.png">
    <br> Educación </button> 
</div>

<app-modal #modalEducacion class="modal-demo" [maximizable]="true" [backdrop]="false">
  <ng-container class="app-modal-header"><p class="titleModal">Educación</p></ng-container>
    <ng-container class="app-modal-body">
      <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>
    </ng-container>
    <ng-container class="app-modal-footer">
      
    </ng-container>
  </app-modal>
  