
<div class="container" cdkDrag>
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

                <div class="closeButton">
                    <button>x</button>
                </div>
                
                <div class="form-group">
                    <label for="tituloE">Título</label>
                    <input type="text" class="form-control" id="tituloE" name="tituloE" [(ngModel)]="tituloE" required>
                </div>

                <div class="form-group">
                    <label for="institucionE">Institución</label>
                    <input type="text" class="form-control" id="institucionE" name="institucionE" [(ngModel)]="institucionE" required>
                </div>

                <div class="form-group">
                    <label for="tipoE">Tipo de educacion</label>
                    <input type="text" class="form-control" id="tipoE" name="tipoE" [(ngModel)]="tipoE" required>
                </div>

                <div class="form-group">
                    <label for="inicioEdu">Fecha de inicio</label>
                    <input type="text" class="form-control" id="inicioEdu" name="inicioEdu" [(ngModel)]="inicioEdu" required>
                </div>

                <div class="form-group">
                    <label for="finalizacionEdu">Fecha de finalizacion</label>
                    <input type="text" class="form-control" id="finalizacionEdu" name="finalizacionEdu" [(ngModel)]="finalizacionEdu" required>
                </div>

                <button class="agregar">
                    Agregar educación
                </button>

            </form>
        <div>
    </div>
</div>
