<div class="container" *ngIf="skill">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

                <div class="form-group">
                    <label for="nombreS">Nombre de la Habilidad</label>
                    <input type="file" class="form-control" id="nombreS" name="nombreS" [(ngModel)]="skill.skillUrl" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                </div>

                <br>

                <div class="form-group">
                    <label for="nivelS">Nivel de la Habilidad</label>
                    <input type="file" class="form-control" id="nivelS" name="nivelS" [(ngModel)]="skill.rangoUrl" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                </div>

                <br>

                <button>
                    Actualizar skill
                </button>

            </form>
        <div>
    </div>
</div>