<div> 
    <button type="button" (click)="modalSkills.show()"> <img src="../../../../assets/skills.png">
    <br> Skills </button> 
</div>

<app-modal #modalSkills class="modal-demo" [maximizable]="true" [backdrop]="false">
  <ng-container class="app-modal-header"><p class="titleModal">Skills</p></ng-container>
    <ng-container class="app-modal-body">
      <h3>MODAL DIALOG</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>
    </ng-container>
    <ng-container class="app-modal-footer">
     
    </ng-container>
  </app-modal>